<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SomeSetting" value="Prod-value for SomeSetting"/>
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnectionString" connectionString="Server=prodserver;Database=myDataBase;User Id=myUsername;Password=myPassword;"/>
  </connectionStrings>
</configuration>